body{
    background-image: url("./imgs/bg10.png") ;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    overflow-x: hidden !important;
    max-width: 100% !important;

}

nav{
    background-color: #7d4897;
}

#botao3{
    display: inline-block;
}


.row {
    margin: auto !important;
}

.table td {
    font-weight: bold;
    word-wrap: break-word;
}

footer{
    background-color: #7d4897;
    margin-left: 0;
    margin-right: 0;

    --bs-gutter-x: 0 !important;

}

footer p{
    margin-top: 5px ;
    margin-bottom: 10px;
    margin-left: 15px;
}

.titulo{
    background: rgb(125,72,151);
    background: linear-gradient(180deg, rgba(125,72,151,1) 0%, rgba(217,46,58,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

table {
    border-collapse:separate !important;
    border:solid black 1px !important;
    border-radius:6px !important;
}

td, th {
    border-left:solid black 1px !important;
    border-top:solid black 1px !important;
}

th {
    border-top: none !important;
}

td:first-child, th:first-child {
    border-left: none !important;
}

#logo{
    max-height: 5% !important;
    max-width: 5% !important;

}

img{
    width: 40px;
}

.disabled{
    opacity: 70%;
}

#tabela th, #tabela td {
    width: 33%; /* Adjust as needed */
    text-align: center; /* Keeps text centered */
}

.modal-content,  .modal-body, .modal-footer {
    border: none !important;
}

button#arrowwhite.accordion-button.bg-dark.text-light.custom-button::after{
    background-image: url("./imgs/arrowhite.svg") !important;
}

.accordion-body img {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
    margin-top: 10px !important;
    width: 100% !important;
}

#faqlink{
    color: #ffffff !important;
}